 <div class="row text-center text-lg-left">
{{#each products }}

      <div class="col-lg-4 col-md-4 col-6">
        <div class="thumbnails">
          <a href="#" class="d-block mb-4 h-100">
            <img class="img-fluid img-thumbnail" src="{{ this.imagePath }}" alt="">
          </a>
          <div class="caption">
            <h3>{{ this.title }}</h3>
            <p>{{ this.description }}</p>
            <div class="caption__info">
              <div class="price">${{ this.price }}</div>
              <a href="#" class="btn btn-success pull-right" role="button">Add to Cart</a>
            </div>
          </div>
        </div>
      </div>

{{/each}}
</div>